@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.App {
  text-align: center;
  font-family: 'Pacifico', monospace;
}
body{
  background-color: #3a3a7c;
  color: white;
}
#timers {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: wrap;
}
#break , #session, #time{
  top: 20%;
  width: 25%;
  min-width: 50px;
  margin: 0 5%;
  padding: 50px 0;
}

#break-decrement, #break-increment, #session-decrement, #session-increment{
  transform: scale(1.5);
}
#break-decrement:hover, #break-increment:hover, #session-decrement:hover ,#session-increment:hover, .start:hover{
  transform: scale(2);
}
/* #time{
  width: 30%;
  margin: 10% 35% 2% 35%;
  padding: 15px 0;
} */
.start{
  margin: 20px 10px;
  transform: scale(1.5);
}

@media only screen and (max-width: 860px) {

  #break , #session, #time{
    width: 30%;
    margin: 0 10%;
    padding: 10px 0;
  }

}

